.contentPadding {
    padding: 20px;
}

.friendsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friend a {
    text-decoration: none;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.friend a .name{
    text-decoration: none;
    display: block;
    padding-left: 5px;
}

.friend a.active .name,
.friend a:hover .name{
    color: #7969c2;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}